.search-area {
  width: 1200px;
  margin: 10px auto;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
  color: #2c2c2f;
}
.search-area select {
  padding: 1px;
  vertical-align: middle;
}
#data {
  width: 1200px;
  margin: 12px auto;
  border: thick double #32a1ce;
  border-collapse: collapse;
  font-size: 20px;
}
#data th,
#data td {
  padding: 0 4px;
  border: 1px solid rgb(0, 0, 0);
}
